# ImgBB API Configuration
# Get your free API key at https://api.imgbb.com/
IMGBB_API_KEY=YOUR_IMGBB_API_KEY_HERE

# Google Drive (Backup / Optional)
GOOGLE_DRIVE_FOLDER_ID=1QpnmqCc6t4vz8yVoJ4Rlcd5yDyoCXE7k
